div{
	background-color:red;
	width:150px;
	height:50px;
	float:left;
	margin:30px;
}

div.one{
	background-color:blue;
	
}

div#d1{
	background-color:orange;
}
div#d2{
	background-color:pink;
}